repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        types: [python]
        args: ["check", "--fix"]

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
