repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        types: [python]
        args: ["check", "--select", "I", "--fix"]

      - id: ruff-format
        name: ruff (format)
        entry: ruff
        language: system
        types: [python]
        args: ["format"]

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
