services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres_service
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - ./src/db/init/postgres:/docker-entrypoint-initdb.d
      - type: tmpfs 
        target: /var/lib/postgresql/data
    restart: unless-stopped
  mongo:
    image: mongo:7
    container_name: mongodb_service
    command: mongod --quiet
    ports:
      - "${MONGO_PORT}:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
    volumes:
      - ./src/db/init/mongo:/docker-entrypoint-initdb.d
      - type: tmpfs 
        target: /data/db
    restart: unless-stopped
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi_service
    ports:
      - "8000:80"
    depends_on:
      - postgres
      - mongo
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      SECRET_KEY: ${SECRET_KEY}
    restart: unless-stopped
