services:
  db:
    image: postgres:16-alpine
    container_name: postgres_service
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - ./src/db/init:/docker-entrypoint-initdb.d
      - type: tmpfs 
        target: /var/lib/postgresql/data
    restart: unless-stopped
    
  cache:
    image: redis:7-alpine
    container_name: redis_service
    ports:
      - "6379:6379"
    environment:
      REDIS_PASSWORD: ${CACHE_PASSWORD}
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - cache:/data
    restart: unless-stopped
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi_service
    ports:
      - "8000:80"
    depends_on:
      - db
      - cache
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      SECRET_KEY: ${SECRET_KEY}
    restart: unless-stopped

volumes:
  data_sql:
  cache: