services:
  db:
    build:
      context: ./db
      dockerfile: Dockerfile
    container_name: postgres_service
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d
      - type: tmpfs 
        target: /var/lib/postgresql/data
    restart: unless-stopped
    
  cache:
    image: redis:7-alpine
    container_name: redis_service
    ports:
      - "6379:6379"
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - cache:/data
    restart: unless-stopped

volumes:
  data_sql:
  cache: